* {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style: none;
	text-decoration: none;
}
body {
	background: #d8d8d8 url(../images/bg.jpg) repeat-x top center;
	color: #fff;
	border-top: 6px solid #9d1e9c;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 960px;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
	padding: 5px;
}
#main-header {
	margin: 20px 0px;
	overflow: hidden;
	padding-bottom: 30px;
	border-bottom: 1px solid #989898;
}
#main-header #brand {
	float: left;
	clear:both;
}
#main-header nav {
   float:right;
   font-size:14px;
   text-transform: uppercase;
   letter-spacing: -0.1px;
   color: #9d1e9c;
   width: 473px;
   height: 51px;
   background: url(../images/navBorder.png) no-repeat;
}
#main-header nav ul{
	margin: 6px 0px 0px 60px;
}
#main-header nav ul li {
   float:left;
   position:relative;
}
#main-header nav ul li a {
   display:block;
   text-decoration:none;
   color:#9d1e9c;
   padding: 5px;
}
#main-header nav ul li a.active,#main-header nav ul li a:hover {
   background: #9200aa;
   color: #fff;
}
#slideshow {
	padding: 0px 0px 14px;
	border-bottom: 1px solid #989898;
	position: relative;
}
.slide .slideText{
	position: absolute;
	top: 70px;
	left: 580px;
	color: #353535;
}
.slide .slideText h1 {
	font-weight: bolder;
	width: 190px;
	font-size: 35px;
	line-height: 28px;
	border-left: 5px solid #8d27a0;
	padding-left: 4px;
}
.slide .slideText p {
	width: 350px;
	font-size: 13px;
	margin: 15px 0px 0px 11px;
}
.slide .slideButton {
	position: absolute;
	background: url(../images/sliderBtn.png) no-repeat;
	width: 193px;
	height: 56px;
	left: 762px;
	top: 185px;
}
.slide .slideButton a {
	position: absolute;
	left: 30px;
	top: 16px;
	font-size: 15px;
	color: #fff;
}
.slide .slideButton a:hover {
	color: #bababa;
}
#tipsSearch {
	margin: 20px 0px;
	overflow: hidden;
}
.tsBox {
	background: #c6c6c6;
	border: 1px solid #959595;
	float: left;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #404040;
	-moz-box-shadow:    inset 0 0 10px #f5f5f5;
  	-webkit-box-shadow: inset 0 0 10px #f5f5f5;
 	 box-shadow:        inset 0 0 10px #f5f5f5;
}
.tsBox span, .tsBox img {
	margin: 0px 2px;
}
.tsBox:first-child {
	margin-right: 50px;
}
.tsBox input{
	padding: 2px 5px;
}
.tsBox:first-child input{
	width: 495px;
}
#content {
	margin: 60px 0px;
	clear: both;
	overflow: hidden;
}
.box {
	float: left;
	width: 475px;
}

.box:first-child {
	border-right: 1px solid white;
	box-shadow:  1px 0px #c6c6c6;
}

.box:nth-child(3n) {
	border-right: 1px solid white;
	box-shadow:  1px 0px #c6c6c6;
}
.boxServicePage:nth-child(3n) {
	border: none;
	box-shadow: none;
}
.boxServicePage:nth-child(odd) {
	border-right: 1px solid white;
	box-shadow:  1px 0px #c6c6c6;
}
.inBox {
	float: left;
	min-height: 170px;
	clear:both;
	overflow: hidden;
	margin: 5px 30px;
}

.box .inBoxImg {
	float: left;
	clear: left;
	width: 130px;
	height: 170px;
	margin-right: 30px;
}
.box .inBoxText {
	clear: right;
	width: 240px;
	overflow: hidden;
}
.inBox h3{
	color: #770077;	
	min-height: 24px;
}

.inBox p {
	color: #404040;
	margin:15px 0px;
	max-height: 55px;
	min-height: 55px;
	word-spacing: 15px;
	overflow: hidden;
}
.inBox .btnReadMore {
	background: url(../images/btnReadMore.png) repeat-x;
	padding: 5px 27px 6px 5px;
	color: #fff;
	font-size: 14px;
}
.inBox .btnReadMore:hover {
	color: #bababa;
}

footer {
	border-top: 1px solid red;
	border-top-color: #772d8e;
	padding: 20px;
	margin-top: 20px; 
	margin-bottom: 10px;
	font-size:10px;
}

footer ul {
	float: right;
	margin-right: 30px;
}

footer li {
	display: inline;
	padding-right: 5px;
	border-right: 1px solid black;
	border-color: #353535;
}

footer li:last-child {
	border-right: none;
}

footer li a{
	color:#353535;
}

footer p{
	color:#353535;
	float: left;
	clear: left;
	margin-left: 30px;
}


#aboutHeader , #aboutMain , #teamText{
	text-align: center;
	color: #000;
	margin: 20px 0px;
}
#aboutHeader p {
	margin: 30px auto;
	width: 700px;
}
#aboutMain{
	background: #fff;
	color: #9d1e9c;
	padding: 20px;
}

#aboutTeam{
	clear: both;
	overflow: hidden;
	color: #000;
	font-size: 14px;
}

#aboutTeam span{
	color:#936cf7;
}

#teamText {
	margin: 80px auto;
}

#teamText p {
	margin: 30px auto;
	width: 700px;
}
#aboutTeam .block {
	width: 320px;
	float: left;
	text-align: center;
	margin: 20px 0px;
}
#aboutTeam .block p{
	width: 250px;
	margin:5px auto;
}

#servicesHeader {
	color: #000;
	text-align: center;
	margin: 30px;
}

#servicesHeader p{
	padding: 20px 0 40px 0;
	color: #404040;
}

#servicesHeader h1{
	color: #770077;
}

#contactHeader {
	color: #404040;
	text-align: center;
	margin: 50px 0px 0px 0px;

}

#contactHeader p{
	padding: 20px;
}

#contactForm{
	display: inline;
	overflow: hidden;
	color: black;
}
#contactForm label{
	width: 110px;
	display: inline-block;
	text-align: right; 
}

#contactForm input, #contactForm textarea{
	width: 225px;
	padding: 5px;
	margin: 10px 0px;
	font-family: "Arial", "sans-serif";
	vertical-align: middle;
}

#contactForm #male, #contactForm #female, #contactForm #phone1, #contactForm #email1 {
	width: 10px;
	padding: 5px;
	margin-bottom:20px;
}


#contactForm textarea{
	height: 200px;
	resize: none;	
}

#contactForm span{
	margin-left: 150px;
}

#contactForm #subButton {
	width: 200px;
	height: 40px;
	border-radius:4px;
	color:white;
	background:#770077;
	box-shadow:inset 0 -9.6px 0 -5.6px rgba(0,0,0,0.17);
	text-align:center;
	border: none;
	margin-left: 110px;
}

#contactdiv {
	width: 400px;
	background-color: #e2d4de;
	padding: 20px;
	margin: 0 auto;
}

#address {
	color: black;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
}

#loginBody {
	border-top:none;
	background: #d19ed3;
}

#adDiv {
	width: 300px;
	height: 200px;
	background-color: white;
	text-align: center;
	padding:60px;
	margin: auto;
	margin-top: 150px;
	color: black;
	border-radius: 20px;
}

#adDiv form input {
	width: 200px;
	padding: 10px;
	margin: 10px 0px;
}

#adDiv h1 {
	color: #8c8a8c;
}

#rina {
	margin-left: 500px;
}

#rina a{
	text-decoration: underline;
	color: white;
}

#regDiv {
	width: 300px;
	height: 500px;
	background-color: white;
	text-align: center;
	padding:60px;
	margin: auto;
	margin-top: 30px;
	color: black;
	border-radius: 20px;
}

#regDiv form input {
	width: 200px;
	padding: 10px;
	margin: 10px 0px;
}

#regDiv #terms {
	width: 72px;
	padding: 10px;
	margin: 10px 0px;
}

#regDiv h1 {
	color: #8c8a8c;
}

#topbar {
	background: #9d1e9c;
	display: block;
	overflow: hidden;
}


#topbar p {
	float: right;
	padding: 10px;
	margin: 10px 10px;
	color: #fff;
}

#topbar p a{
	color: #fff;
}

#sidebar {
	float: left;
	width: 200px;
	background:  #9d1e9c;
	color: #fff;
	position: absolute;
	font-family:"Arial", "Sans-serif";
   font-size: 14px;
   margin-bottom: -101%;
  padding-bottom: 101%;
}

#sidebar ul {
	list-style: none;
	padding: 0;
}
#sidebar ul li {
	margin: 10px 0px;
	padding: 10px 0px;
	color: #fff;
}

#sidebar ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0;
	margin: 0px 20px;
}

#sidebar ul .active {
	background: #ae8faf;
}

#sidebar ul li:hover {
	background: #ae8faf;
}

#mainContent {
	color: #000;
	position: relative;
	margin-top: 30px;
	margin-left: 220px;
	text-align: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
table td img {
	width: 100px;
}

.btnAdd {
	background: #ae8faf;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	padding: 10px;
	float: left;
}
#editServices {
	text-align: left;
	width: 400px;
	background-color: #e2d4de;
	margin-left: 250px;
	padding-left: 50px;
}
#editServices input,#editServices textarea{
	width: 300px;
	padding: 10px;
	margin: 10px 0px;
}
#editServices textarea {
	min-height: 170px;
	max-height: 170px;
	min-width: 300px;
	max-width: 300px;
}
#editServices input[type=submit]{
	width: 100px;
}
.servicesBox {
	overflow: hidden;
}
.servicesBox .block, .servicesBox .blockMid {
	margin: 20px 0px;
}

.error {
	color:red;
	font-size: 10px;
}
div.slide {
	display: none;
}
#slideActive {
	display: inline-block;
	z-index: -9999;
	right: 20px;
	bottom: 30px;
}
#slideActive img {
}
#slideBtn {
	width: 70px;
	height: 25px;
	background: #863d93;
	border-radius: 10px;
	padding-left: 10px;
}
#slideBtn button {
	background: url(../images/notActive.png);
	width: 16px;
	height: 17px;
	border:none;
	margin: 5px 1px;
}
#slideBtn button#activeB {
	outline: none;
	background: url(../images/active.png);
}



.lab {
	float: left;
	margin-top: 50px;
}

#sub {
	width: 900px;
	height: 100px;
	background-color: #e2d4de;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
	margin-left: 80px;
}

#textdiv {
	width: 900px;
	height: 100px;
	background-color: #e2d4de;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
	margin-left: 80px;
}

#teamtext {
	width: 900px;
	height: 100px;
	background-color: #e2d4de;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
	margin-left: 80px;
}

.btnedit {
	background: #ae8faf;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	padding: 10px;
	float: right;
	margin-right: 50px;
}

#subarea textarea {
	width: 600px;
	height: 80px;
}

#textdivarea textarea {
	width: 700px;
	height: 100px;
}

#teamtextarea textarea {
	width: 600px;
	height: 80px;
	padding: 0px;
	margin: 0px;
}

#editAboutEmp {
	text-align: left;
	width: 400px;
	background-color: #e2d4de;
	margin-left: 250px;
	padding-left: 50px;

}
#editAboutEmp input,#editAboutEmp textarea{
	width: 300px;
	padding: 10px;
	margin: 10px 0px;
}
#editAboutEmp textarea {
	min-height: 170px;
	max-height: 170px;
	min-width: 300px;
	max-width: 300px;
}
#editAboutEmp input[type=submit]{
	width: 100px;
}

#editUsers {
	text-align: left;
	width: 400px;
	background-color: #e2d4de;
	margin-left: 250px;
	padding-left: 50px;

}
#editUsers input,#editUsers textarea{
	width: 300px;
	padding: 10px;
	margin: 10px 0px;
}
#editUsers textarea {
	min-height: 170px;
	max-height: 170px;
	min-width: 300px;
	max-width: 300px;
}
#editUsers input[type=submit]{
	width: 100px;
}

